{% extends 'base.html' %}
{% load static %}
{% block section %}
 <h2>MANDATOS</h2> 
 <hr>
{% endblock section %}
{% block maincontent %}
<form action="." method="GET">
 	<div class="row well" id="id_mandato" name="id_mandato">
 		{% for p in object_list.all %}
 		<div class="col-md-4 well">
 		<div class="panel panel-primary">
 		<div class="panel-heading">
		 <h3 class="panel-title">{{ p.abreviacion }}</h3>
	 </div>
 <div class="panel-body" name="id_mandato" id="id_mandato">
 	<a href="{% url 'mandato-detail' p.id_mandato %}" id="id_mandato" name="id_mandato">
		<img>{{ p.descripcion }}</img>
 	</a>
	 </div>
</form>
 <div class="panel-footer">
 </div>
 	</div>
 </div>
 {% endfor %}
 	</div>
{% endblock maincontent %}
